
.test_button{
	background-image:url(img/headpic.png);
	background-size:100%;
	background-position:0 -15;
	
	border-radius: 100px;
	height:80;
	width:80;
	
}


body{
	background-image:url(../pic/dusk.jpg);
	background-attachment:fixed;
	background-size:100%;
	
}

.TdStyle{
	background-color:#fff;
	opacity:0.6;
}

.WhiteBlock{
	background-color:rgba(255,255,255,0.5);
	position:absolute;
}

#back_space{
	background-image:linear-gradient(#ff7215,#fff094);
	background-attachment:fixed;
	
	//background-color:white;
	opacity:0.6;
	position:fixed;
	left:0px;top:0px;
	width:100%;height:100%;
}


#top_bar{
	//background:-webkit-gradient(linear, left top, left bottom, from(#333), to(#888));
	//background:-moz-linear-gradient(top, #000, #888);
	
	background-color:#fff;
	opacity:0.5;
	
	position:absolute;
	top:0px;
	left:240px;
	width:100%;
	height:40px;
	z-index:500;
	
	font-family:"華康古印體(P)","微軟正黑體","新細明體";
	line-height:40px;
	font-size:24px;
	font-weight:bold;
}

#main_block{
	position:absolute;
	top:105px;
	left:335px;
	width:940px;
	height:510px;
	z-index:501;
	
	font-family:"華康古印體(P)","微軟正黑體","新細明體";
	font-size:18px;
}

#main_back{
	
	background-color:#000;
	opacity:0.5;
	
	position:absolute;
	top:100px;
	left:330px;
	width:950px;
	height:520px;
	z-index:500;
}

#left_bar{
	background:-webkit-gradient(linear, left top, right top, from(#000000), to(#888888));
	background:-moz-linear-gradient(left, #000000, #888888);
	
	position:absolute;
	top:0px;
	left:40px;
	width:200px;
	height:100%;
	z-index:1000;
}

.left_bar_button{
	background-color:white;
	opacity:0.5;
	
	position:absolute;
	left:45px;
	width:220px;
	height:40px;
	z-index:1005;
	
	font-family:"華康古印體(P)","微軟正黑體","新細明體";
	text-align:center;
	line-height:40px;
	font-size:28px;
	font-weight:bold;
}


